/* color */
.g-c-orange {
  color: #ff4b2d!important;
}
.g-c-white {
  color: #ffffff!important;
}
.g-c-e6e6e6 {
  color: #e6e6e6!important;
}
.g-c-blue {
  color: #4a90e2!important;
}
.g-c-pink {
  color: pink!important;
}
.g-c-purple {
  color: #fd527e!important;
}
.g-c-yellow {
  color: #ff972d!important;
}
.g-c-929292 {
  color: #929292!important;
}
.g-c-9b9b9b {
  color: #9b9b9b!important;
}
.g-c-green {
  color: green!important;
}
.g-c-wxgreen {
  color: #42ad31!important;
}
.g-c-212121 {
  color: #212121!important;
}
.g-c-3e3e3e {
  color: #3e3e3e!important;
}
.g-c-c4c4c4 {
  color: #c4c4c4!important;
}
.g-c-afafaf {
  color: #afafaf!important;
}
.g-c-4a4a4a {
	color: #4a4a4a!important;
}
/* font */
.g-tc {
	text-align: center;
}
.g-tl {
	text-align: left;
}
.g-tr {
	text-align: right;
}

/* font-weight */
.g-weight-100 {
	font-weight: 100;
}
.g-weight-200 {
	font-weight: 200;
}
.g-weight-300 {
	font-weight: 300;
}

/* line-height */
.g-lh-24 {
	line-height: 24px; 
}
.g-lh-30 {
	line-height: 30px; 
}
.g-lh-36 {
	line-height: 36px; 
}
.g-lh-44 {
	line-height: 44px; 
}
/* letter-spacing */
.g-ls-1 {
	letter-spacing: 1px;
}

/* text-decoration */
.g-td-lt {
	text-decoration: line-through;
}
.g-del {
	text-decoration: line-through;
}

/* fontSize */
.g-fs-10 {
	font-size: 10px!important;
}
.g-fs-12 {
	font-size: 12px!important;
}
.g-fs-14 {
	font-size: 14px!important;
}
.g-fs-15{
	font-size: 15px!important;
}
.g-fs-16 {
	font-size: 16px!important;
}
.g-fs-18 {
	font-size: 18px!important;
}
.g-fs-20 {
	font-size: 20px!important;
}
.g-fs-22 {
	font-size: 22px!important;
}
.g-fs-24 {
	font-size: 24px!important;
}
.g-fs-26 {
	font-size: 26px!important;
}
.g-fs-28 {
	font-size: 28px!important;
}
.g-fs-30 {
	font-size: 30px!important;
}


