/* color */
.g-c-orange {
  color: #ffaa22!important;
}
.g-c-white {
  color: #ffffff!important;
}
.g-c-blue {
  color: #4a90e2!important;
}
.g-c-green {
  color: green!important;
}
.g-c-wxgreen {
  color: #42ad31!important;
}
.g-c-888888 {
  color: #888888!important;
}
.g-c-red {
  color: #f86351!important;
}
/* font */
.g-tc {
	text-align: center;
}
.g-tl {
	text-align: left;
}
.g-tr {
	text-align: right;
}

/* font-weight */
.g-weight-100 {
	font-weight: 100;
}
.g-weight-200 {
	font-weight: 200;
}
.g-weight-300 {
	font-weight: 300;
}

/* line-height */
.g-lh-24 {
	line-height: 24px;
}
.g-lh-30 {
	line-height: 30px;
}
.g-lh-36 {
	line-height: 36px;
}
.g-lh-44 {
	line-height: 44px;
}
/* letter-spacing */
.g-ls-1 {
	letter-spacing: 1px;
}

/* text-decoration */
.g-td-lt {
	text-decoration: line-through;
}
.g-del {
	text-decoration: line-through;
}

/* fontSize */
.g-fs-10 {
	font-size: 10px!important;
}
.g-fs-12 {
	font-size: 12px!important;
}
.g-fs-14 {
	font-size: 14px!important;
}
.g-fs-15{
	font-size: 15px!important;
}
.g-fs-16 {
	font-size: 16px!important;
}
.g-fs-18 {
	font-size: 18px!important;
}
.g-fs-20 {
	font-size: 20px!important;
}
.g-fs-22 {
	font-size: 22px!important;
}
.g-fs-24 {
	font-size: 24px!important;
}
.g-fs-26 {
	font-size: 26px!important;
}
.g-fs-28 {
	font-size: 28px!important;
}
.g-fs-30 {
	font-size: 30px!important;
}


